*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    row-gap: 5%;
    text-align: center;
    font-family: 'Pangolin', cursive;
    background-image: url("../images/Paper_Background.png");
}

header{
    grid-column: 2 / 2;
    margin-top: 20px;
}

section{
    grid-column: 2 / 2;
}

#letterBtnContainer{
    justify-self: center;
    width: 50%;
}

#tableSection{
    justify-self: center;
    display: none;
}

table{
    border-spacing: 8px;
}

td{
    border-bottom: 2px solid black;
    width: 50px;
    height: 50px;
    font-size: 35px;
}

#lives{
    font-weight: bold;
    font-size: xx-large;
    justify-self: start;
    margin-bottom: 20px;
}

svg[id^="Postit"]{
    width: 35px;
    margin: 3px;
    transform-origin: 0% 20%;
}

svg[id$="disabled"]{
    pointer-events: none;
}

svg[id^="Postit"]>path[id^="scratchPath-"]{
    stroke-dasharray: 250;
    stroke-dashoffset: 250;
}

#play{
    width: 100px;
    height: 35px;
    font-family: 'Pangolin', cursive;
    font-size: x-large;
    border-radius: 7px;
}

#languages{
    margin: 20px;
}
#languages>button{
    width: 50px;
    height: 35px;
    font-family: 'Pangolin', cursive;
    font-size: x-large;
    border-radius: 7px;
}

header>h1{
    font-size: 50px;
}

.noScale {
    transform: scale(0);
}

.scaleUpAnimation{
    animation: 1s scaleUp forwards;
}

.fallAnimation{
    animation: 4s fall forwards linear;
}

.disappear{
    animation: 0.5s disappear forwards;
}

path[class="draw"]{
    animation: draw 0.35s linear forwards;
}

g[id="HangmanAllBody"]{
    position: relative;
    transform-origin: 80% 10%;
    animation: hangmanRotate 3s infinite ease-in-out;
}

g[id="HangmanAllBody"]>g[id^="Head"]{
    visibility: hidden;
}

g[id="HangmanAllBody"]>g[id^="Body"]{
    visibility: hidden;
}

g[id="HangmanAllBody"]>g[id^="LeftArm"]{
    visibility: hidden;
}

g[id="HangmanAllBody"]>g[id^="RightArm"]{
    visibility: hidden;
}

g[id="HangmanAllBody"]>g[id^="Legs"]{
    visibility: hidden;
}

@keyframes draw {
    to { stroke-dashoffset: 0; }
  }

@keyframes disappear {
    from { opacity: 100%; }
    to   { opacity: 0%; }
}

@keyframes fall {
    0%      { transform: translateY(0px) rotate(0deg); opacity: 100%;     }
    25%     { transform: translateY(125px) rotate(20deg); opacity: 100%;    }
    50%     { transform: translateY(250px) rotate(-25deg); opacity: 100%;   }
    75%     { transform: translateY(375px) rotate(15deg); opacity: 50%;     }
    100%    { transform: translateY(500px) rotate(-18deg); opacity: 0%;     }
}

@keyframes scaleUp {
    from { transform: scale(0); }
    to   { transform: scale(1); }
}

@keyframes hangmanRotate{
    0% { transform: rotate(-3deg);}
    50% { transform: rotate(3deg);}
    100% { transform: rotate(-3deg);}
}

@media screen and (min-width: 1423px){
    #letterBtnContainer{
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1422px){
    #letterBtnContainer{
        width: 75%;
    }
}

@media screen and (min-width: 768px){
    body{
        grid-template-columns: 1fr 75% 1fr;
    }
    svg{
        width: 60%;
        order: -1;
    }
    #hangmanImageSection{
        display: grid;
        grid-template-columns: 75% 25%;
        place-items: center ;
    }
}

@media screen and (min-width: 420px) and (max-width: 768px){
    body{
        grid-template-columns: 1fr 90% 1fr;
    }
    svg{
        width: 75%;
    }
    #letterBtnContainer{
        width: 80%;
    }
}

@media screen and (max-width: 420px) {
    body{
        grid-template-columns: 1fr 90% 1fr;
    }
    svg{
        width: 50%;
    }
    td{
        border-bottom: 2px solid black;
        width: 25px;
        height: 25px;
        font-size: 15px;
    }

    svg[id^="Postit"]{
        width: 25px;
        margin: 1px;
    }

    header>h1{
        font-size: 35px;
    }

    #letterBtnContainer{
        width: 75%;
    }
}